.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageBG {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.overlay {
  background-color: rgba(0,0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.contentOverlay {
  z-index: 100;
}

.contentOverlay > h1 {
  color: #000000;
  text-align: center;
  font-size: 65px;
  margin-bottom: 5px !important;
}

.contentOverlay > h4 {
  color: #59595B;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: Lato;
}

.mainRow {
  display: flex;
  flex-direction: row;
}

.mainRow1 {
  display: flex;
  margin-right: 10px;
  overflow: hidden;
}

.mainRow2 {
  display: flex;
  margin-left: 10px;
  overflow: hidden;
}

@media (max-width: 1600px) {
  .mainRow {
    display: flex;
    flex-direction: column;
  }
  .mainRow1 {
    display: flex;
    margin-right: 0px;
    overflow: hidden;
  }
  .mainRow2 {
    display: flex;
    margin-top: 40px;
    margin-left: 0px;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
  }
  .main {
    align-items: inherit;
  }
  .mainRow {
    display: flex;
    flex-direction: column;
  }
  .mainRow1 {
    display: flex;
    margin-right: 0px;
    overflow: hidden;
  }
  .mainRow2 {
    display: flex;
    margin-top: 40px;
    margin-left: 0px;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .contentOverlay > h1 {
    color: #000000;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px !important;
  }
  
  .contentOverlay > h4 {
    color: #59595B;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    font-family: Lato;
  }

  .container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
  }
  .main {
    align-items: inherit;
    justify-content: flex-start;
    padding-top: 0px;
  }
  .mainRow {
    display: flex;
    flex-direction: column;
  }
  .mainRow1 {
    display: flex;
    margin-right: 0px;
    overflow: hidden;
  }
  .mainRow2 {
    display: flex;
    margin-top: 60px;
    margin-left: 0px;
    overflow: hidden;
  }
}


@media (max-width: 450px) {
  .mainRow1 {
    display: flex;
    margin-right: 0px;
    overflow: visible;
  }
  .mainRow2 {
    display: flex;
    margin-top: 50px;
    margin-left: 0px;
    overflow: visible;
  }
  .contentOverlay > h4 {
    color: #59595B;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    font-family: Lato;
    margin-top: 0px;
  }
}
